.footer-container{
    padding: 0px 100px;
}
.footer-div{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.footer-form{
    display: flex;
    flex-direction: column;
    flex: 5;
}
.inner-box{
    display: flex;
    flex: 1;
    margin-bottom: 30px;
    gap: 15px;
}
.inner-box div{
    display: flex;
    flex-direction: column;
    flex: 5;
}
.inner-box label{
    display: flex;
    justify-content: start;
}
.inner-box input{
    display: flex;
    outline: none;
    height: 28px;
    border: 2px solid #198754;
    border-radius: 5px;
    padding-left: 15px;
    margin-top: 2px;
}

.footer-form textarea{
    display: flex;
    outline: none;
    border: 2px solid #198754;
    border-radius: 5px;
    padding-left: 15px;
    margin-top: 2px;
    padding-top: 10px;
    margin-bottom: 15px;
    max-width: 600px;
}
.footer-form button{
    display: flex;
    width: 150px;
    height: 50px;
    background-color: #198754;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    align-items: center;
    gap: 9px;
    padding-left:10px;
}
.contact-info{
    display: flex;
    flex: 5;
    flex-direction: column;
}
.contact-info a{
    display: flex;
    text-decoration: none;
    color: gray;
    gap: 10px;
    padding-bottom:10px ;
}
.contact-info a:hover{
    color: black;
    transition: 0.5s ease-in-out;
}

@media (max-width:500px) {
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 100%;
    }
    .footer-div{
        display: flex;
        flex-direction: column;
    }
   
    .inner-box{
        display: flex;
        flex-direction: column;
    }
}
