.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; 
}

.login-div{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 6px 20px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    place-content: center;
    border: 1px solid gray;
    padding: 20px;
    max-width: 350px; 
    width: 100%; 
    min-height: 450px; 
    background-color: white;

}
.login-div h1{
    padding-top: 20px;
    font-size: 20px;
    margin: 0px;
}
.login-div .signup-hylyt{
    color: #198754;
    font-weight: bolder;
}
.login-div .Cp{
    margin: 0px;
    padding: 0;
}
.login-form{
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    gap: 0.5rem;
}
.login-form label{
    text-align: start;
}
.login-form .input-username,
.login-form .input-email,
.login-form .input-password{
    display: flex;
    border:0.3px solid grey;
    border-radius: 3px;
    align-items: center;
}

.login-form .input-username:focus-within,
.login-form .input-email:focus-within,
.login-form .input-password:focus-within{
    border-width: 2px;
    border-color: #198754;
}
.login-form input{
    font-weight: bold;
    font-size: 13px;
    padding-left: 15px;
    width: 250px;
    height: 25px;
    border: none;
    outline:none;
    border-radius: 3px;
    background-color:transparent;
}
.login-form .input-password span{
    cursor: pointer;
    font-size: small;
    padding-right: 7px;
    padding-top: 2px;
}
.login-form p{
    font-size: 10px;
    color: gray;
    font-weight: lighter;
}
.login-form p .span-ele{
    color: #198754;
    font-weight: bold;
    cursor: pointer;
}
.login-form input.submit{
    width: 100%;
    height: 27px;
    background-color: #198754;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.hr-container {
    position: relative;
    width: 100%;
    margin: 10px 0;
}

.hr-container hr {
    width: 100%;
    height: 0.5px;
    background-color: gray;
    border: none;
    margin: 10px 0;
}

.or-text {
    position: absolute;
    left: 50%;
    top: -3px;
    transform: translateX(-50%);
    background-color: white;
    padding: 0 10px;
}

