:root {
  /* font-family: " Helvetica Neue", Helvetica, Arial,sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
body,html{
  margin:0px;
  padding:0px;
  overflow-x: hidden;
}

* {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto; 
}

/* dark or light mode theme styling */

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --icon-color: #000000;
  --icon-bg:ghostwhite;
}

body.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --box-background-color: #1e1e1e;
  --box-hover-background-color: #333333;
  --border-color: #444444;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  --icon-color: #ffffff; 
  --icon-bg:#444444;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar {
  background-color: var(--primary-color);
}

 body.dark-mode .boxes{
  background-color: var(--box-background-color);
  /* border: 1px solid var(--border-color); */
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  color: var(--text-color);
}

body.dark-mode .small-Boxes{
  background-color: var(--box-background-color);
  /* border: 1px solid var(--border-color); */
  box-shadow: var(--box-shadow);
  color: var(--text-color);
}

body.dark-mode .places_p{
  color: #007BFF;
}

body.dark-mode .boxH:hover{
  background-color:var(--box-hover-background-color) ;
}

body.dark-mode .boxP{
  background-color: var(--background-color);
  color: var(--text-color);
}
body.dark-mode .boxTC{
  color: var(--text-color);
}
body.dark-mode .common:hover{
color: var(--text-color) !important;
}
body.dark-mode .common.active{
  color: var(--text-color) !important;
}

body.dark-mode .detail_place_p{
  color: gray;
}
body.dark-mode .detail_place_p span{
  color: var(--text-color);
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select {
  background-color: var(--box-background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  /* padding: 10px;
  border-radius: 5px; */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

body.dark-mode input:focus,
body.dark-mode textarea:focus,
body.dark-mode select:focus {
  background-color: var(--box-hover-background-color);
  border-color: var(--primary-color);
  outline: none;
}

body.dark-mode input:hover,
body.dark-mode textarea:hover,
body.dark-mode select:hover {
  background-color: var(--box-hover-background-color);
  border-color: var(--primary-color);
}

.add-expense-div .input-container label{
  background-color: var(--background-color);
}

body.dark-mode .mui-icon,
body.dark-mode .dark-mui-icon {
  color: var(--icon-color);
  background: var(--icon-bg);
}

body.dark-mode .btn-DM:hover{
  color: var(--text-color) !important;
}

body.dark-mode .invert-img {
  filter: invert(1);
}

body.dark-mode .home{
  background-color: black;
}


/* for not applying the other input feild styles as same as normal input feilds */

body.dark-mode .sigin_centered_conatiner input,
body.dark-mode .centered-container input{
  border: none !important;
  outline: none !important;
  flex: 1;
}

body.dark-mode .boxbgLight{
  background-color: var(--box-hover-background-color);
}

body.dark-mode .boxactive{
  background-color: var(--text-color);
  color: var(--background-color);
}

body.dark-mode .boxactive:hover{
  background-color: var(--text-color) !important;
  color: var(--background-color) !important;
}

body.dark-mode .boxborderright{
  border-right: 1px solid var(--border-color);
}